.chart {
	& > svg {
		outline: none;
	}
}

.no_data {
	width: 100%;
	height: 380px;
	aspect-ratio: 1.618;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	border: 1px solid var(--border-color);
}
