.root {
	min-width: 160px;
	padding: 12px;
	margin: 5px;

	color: var(--text-color);
	font-size: 14px;

	box-shadow: 0 5px 10px #35353545;
	background: var(--bg);
	border: 1px solid var(--border-color);
	border-radius: 5px;
}

.header {
	margin-bottom: 8px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 2px solid var(--border-color);
}

.list {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.list_item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 100px;
}

.item_info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.item_key {
	display: flex;
	gap: 5px;
}

.item_value {
	color: var(--text-color);
	font-weight: bold;
}
