.list {
	min-width: 130px;

	position: absolute;
	top: 45px;
	left: 0;
	z-index: 1000;

	display: flex;
	flex-direction: column;

	border: 1px solid var(--border-color);
	border-radius: 5px;
	background: var(--bg);
	list-style: none;

	opacity: 0;
	pointer-events: none;
	overflow: auto;
}

.group_list {
	display: flex;
	flex-direction: column;
}

.item {
	min-height: 0;
	padding: 5px 8px;
	margin: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--text-color);
	font-size: 14px;
	text-transform: capitalize;
	text-wrap: nowrap;

	border-radius: 4px;

	&:hover {
		background-color: var(--hover-color);
	}
}

.group_title {
	padding: 4px 8px;
	display: block;
	background: var(--bg);
	color: var(--text-color);
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid var(--border-color);
}

.divider {
	height: 0;
	border-bottom: 1px solid var(--border-color);
}

.radio {
	margin: 4px;
	padding: 5px 8px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--text-color);
	font-size: 14px;
	text-transform: capitalize;
	text-wrap: nowrap;
	border-radius: 5px;
	cursor: pointer;

	.radio_box {
		width: 8px;
		height: 8px;
		position: relative;
		border: 1px solid var(--primary);
		border-radius: 100px;
	}

	&:hover {
		background-color: var(--hover-color);
	}
}

.checkbox {
	padding: 5px 8px !important;
	margin: 4px !important;
	border-radius: 4px !important;
	min-height: 0 !important;

	&:hover {
		background-color: var(--hover-color);
	}
}

.show_list {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.3s ease-in-out;
}

.selected {
	background: var(--primary);
}
