.toolbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.divider {
	border-top: 1px solid var(--border-color);
}

.hover {
	min-height: auto;
	padding: 5px 8px;
	margin: 4px;
	border-radius: 5px;

	&:hover {
		background-color: var(--hover-color);
	}
}
