.root {
	position: relative;
}

.children {
	min-width: 130px;

	position: absolute;
	top: 45px;
	left: 0;
	overflow: hidden;
	z-index: 1000;

	display: flex;
	flex-direction: column;

	opacity: 0;
	background: var(--bg);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
	pointer-events: none;

	.divider {
		border-top: 1px solid var(--border-color);
	}

	.hover {
		min-height: auto;
		padding: 5px 8px;
		margin: 4px;
		border-radius: 5px;

		&:hover {
			background-color: var(--hover-color);
		}
	}
}

.show_menu {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.3s ease-in-out;
}

.icon > path {
	stroke: var(--primary);
}

.trigger .active {
	transform: rotate(180deg);
}

.reverseMenu {
	flex-direction: column-reverse;
}

.opened {
	border-color: var(--primary);
}
