.panel {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.right {
	display: flex;
	align-items: center;
	gap: 10px;
}
